<div>
    <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
    <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
    <app-group-add-pop-up [activity]="selectedActivity" [organization]="selectedOrganization" [user]="user" *ngIf="addGroup.isOpen$ | async"></app-group-add-pop-up>
    <app-manage-members-pop-up *ngIf="manageMembersService.isOpen$ | async"></app-manage-members-pop-up>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>

        <div class="admin-container">
            <h1>PLATAFORMA DE ADMINISTRACIÓN</h1>
            <div class="admin-activities-content-container">
                <div class="content">
                    <app-admin-buttons [active]="active"></app-admin-buttons>
                    <div class="admin-content">
                        <div class="event-filter">
                            <div class="filter">
                                <p><strong>ORGANIZACIONES</strong></p>
                                <select #selectOrgElement (change)="loadActivity(selectOrgElement)">
                                    <option *ngFor="let organization of organizations" [value]="organization.name" #org_option>
                                        {{ organization.name }}
                                    </option>                                
                                </select>
                            </div>
                            <div class="filter">
                                <p><strong>ACTIVIDADES</strong></p>
                                <select #selectActivityElement (change)="loadActivityInfo(selectActivityElement)">
                                    <option *ngFor="let activity of activities" [ngClass]="activity.name" #act_option>
                                        {{ activity.name }}
                                    </option>    
                                </select>
                            </div>
                            <button (click)="manageMembers()">Gestionar Miembros</button>
                        </div>
                        <div class="event-description">
                            <div class="event-data">
                                <p>Titulo</p>
                                <div class="input-container">
                                  <input type="text" name="" class="noactive" #inputName placeholder="ej.: Producción de Software" readonly>
                                  <i class="fa fa-pencil" (click)="toggleEditMode(inputName)"></i>
                                </div>
                              </div>
                              <div class="event-data">
                                <p>Descripción</p>
                                <div class="input-container">
                                  <input type="text" name="" class="noactive" #inputDescription placeholder="ej.: ..." readonly>
                                  <i class="fa fa-pencil" (click)="toggleEditMode(inputDescription)"></i>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button (click)="GroupAddPopup()">Crear Grupos</button>
                    <button (click)="SaveChanges()">Guardar Cambios</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>