.admin-container {
    display: flex;
    flex-direction: column;
    flex: 1
}

.admin-container h1 {
    color: var(--mainColor);
    font-size: xx-large;
    align-self: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.admin-activities-content-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.admin-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 15px 20px;
    width: 100%;
}

.event-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    position: relative;
}

.event-filter > *:nth-child(3) {
    position: relative;
    right: 0;
}

.event-filter > *:nth-child(2) {
    position: relative;
    left: 0;
    right: 0;
}

.filter {
    text-align: center;
    margin-right: 5%;
}

.filter select {
    margin-top: 8px;
    width: 200px;
    height: 30px;
}

.event-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 48px;
}

.event-data  {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 30%; 
    align-items: center;
}

.event-data p {
    font-size: large;
}



.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: self-end;
    justify-content: flex-end;
    padding: 25px 20px;
}

button {
    color: white;
    background-color: var(--mainColor);
    cursor: pointer;
    padding: 15px 20px;
}

i {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}

input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
                -13px -13px 100px #ffffff;
}

#noactive {
    background-color: gray;
    color: white;   
}

#noactive::placeholder {
    color: white;
}