<div>
  <app-login *ngIf="authService.isLoginOpen$() | async"></app-login>
  <app-register *ngIf="authService.isRegisterOpen$() | async"></app-register>
  <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
    <app-header></app-header>
    <div class="activities-page" *ngIf="organization">
      <!-- Contenido de la página de actividades -->
      <div class="information">
        <div class="organization-activity-header">
          <h1>{{ organization.name }}</h1>
          <p>{{ organization.description }}</p>
        </div>

        <h2>ACTIVIDADES</h2>

        <div class="organization-activities">
          <ng-container *ngIf="activities.length > 0; else noActivities">
            <div class="activity" *ngFor="let activity of activities">
              <div class="activity-header">
                <h3>{{ activity.name }}</h3>
                <p> {{ activity.description }}</p>
              </div>
              <div class="activity-footer">
                <h4>Members: {{ activity.members.length }}</h4>
                <h4>Groups: {{ activity.groups.length }}</h4>
                <button id="joinButton_{{ activity._id }}" (click)="handleJoinLeave(activity)">
                  <span class="icon"></span>
                  <span class="button-text" >{{ isMember(activity) ? 'ABANDONAR' : 'UNIRSE' }}</span>
                </button>

              </div>
            </div>
          </ng-container>
          <ng-template #noActivities>
            <p>Aún no hay actividades.</p>
          </ng-template>
        </div>
      </div>

      <div class="users">
        <h1>USUARIOS</h1>
        <div class="users-list">
          <ul>
            <li>Usuario 1</li>
            <li>Usuario 2</li>
            <li>Usuario 3</li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="!organization" class="organization-not-found">
      <h1>LA ORGANIZACIÓN NO EXISTE</h1>
    </div>

    <!-- Elemento de advertencia -->
    <div id="warningMessage" style="display: none; color: red;"></div>

    <app-footer></app-footer>
  </div>
</div>
