h1 {
    margin-top: 10px;
    font-weight: 900;
    color: #504136;
}

.activities-page {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.information {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

.information h2 {
    margin-bottom: 40px;
    font-weight: 900;
    color: #504136;
    font-size: x-large;
}

.organization-activity-header {
    margin-bottom: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organization-activity-header h1 {
    font-size: xx-large;
}

.organization-activity-header p {
    font-weight: 600;
    color: #504136;
}

.organization-activities {
    margin-bottom: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40vh;
}

.organization-not-found {
  margin: 100px auto; /* Ajusta el margen superior e inferior para centrarlo verticalmente */
  width: 80%; /* Define el ancho del div */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 20px; /* Agrega relleno para que el contenido no esté pegado a los bordes */

}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    gap: 50px;
}

.activity-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.activity-header p {
    align-self: flex-start;
}

.activity-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.activity-footer > *:not(:nth-child(3)){
    align-self: flex-start;
}

.activity-footer button {
    margin-top: 12px;
    cursor: pointer;
    background-color: #504136;
    color: white;
    padding: 10px;
    width: 70%;
}

.no-activities-message {
  color: gray;
  font-style: italic;
  font-size: large;
}


.schedule-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 20px;
}

.schedule-button button {
    cursor: pointer;
    background-color: #504136;
    color: white;
    padding: 10px;
    width: 20%;
}

.users {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #d3d0d0;
    gap: 30px;
}

.users h1 {
    font-size: x-large;
    align-self: center;
}

.users-list {
    padding: 10px;
}
.users-list ul li {
    margin-bottom: 10px;
}

/*----------------ANIMATIONS FOR JOIN ACTIVITY -----------------*/

.icon {
  position: relative;
  font-size: 20px;
  color: white;
  opacity: 0;
}

.success-animation {
  animation: success-pulse 1s ;
}

.error-animation {
  animation: error-shake 1s ;
}


.success-icon::before,
.error-icon::before {
  content: "";
  font-size: 100%; /* Tamaño de la fuente */
}


.success-icon::before {
  content: "\2713"; /* Código Unicode del símbolo de marca de verificación */
}


.error-icon::before {
  content: "\2717"; /* Código Unicode del símbolo de marca de error */
}

/* Establece la visibilidad a oculta para button-text durante las animaciones */
.success-icon .button-text,
.error-icon .button-text {
  display: none;
}


.success-icon,
.error-icon {
  opacity: 1;
}


@keyframes success-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes error-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}


