<header class="header-container">
    <div class="left-container">
      <h1>
        <a href ="/home">TIMIFY</a>
      </h1>
      <nav>
        <a href="/calendar">Calendario</a>
        <a href="/schedules">Horarios</a>
        <a href="/organizations">Organizaciones</a>
        <a href="/admin">Administración</a>
      </nav>
    </div>

    <!-- Modo: Usuario loggeado -->
    <div *ngIf="isUserLoggedIn()" class="profile-container">
      <a *ngIf="isUserLoggedIn()" href="/perfilInfo" class="profile-link">
        <img [src]="profilePict" alt="User Avatar">
      </a>
    </div>

    <!-- Modo: Usuario no loggeado -->
    <div *ngIf="!isUserLoggedIn()" class="buttonsLoggin">
      <button (click)="login()">Login</button>
      <button (click)="register()">Register</button>
    </div>
  </header>
