.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: #504136;
    height: 50px;
}

.left-container{
    display: flex;
    align-items: center;
    gap: 50px;
}

.left-container h1{
    font-size: xxx-large;
    font-weight: 800;
}

.left-container nav{
    display: flex;
    gap: 60px;
    font-size: x-large;
    font-weight: 600;
}

.left-container nav a {
    cursor: pointer;
}

.profile-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.buttonsLoggin{
    display: flex;
    gap: 20px;
    font-size: x-large;
    font-weight: 600;
}

.buttonsLoggin button{
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: #504136;
    padding: 15px 10px;
    width: 120px;
    border-radius: 20px;
    font-size: large;
    font-weight: bold;
}