<footer class="footer-container">
            <div class="footer-content">
                <div class="footer-section">
                    <h2>Mantente Actualizado</h2>
                    <div class="newsletter">
                        <p>Suscríbete a nuestra Newsletter</p>
                        <input type="email" placeholder="Tu correo electrónico">
                    </div>
                    <div class="footer-copyright-buttons">
                        <p><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></p>
                        <p><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></p>
                        <p><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></p>
                    </div>
                </div>
                <div class="footer-section">
                    <h2>Sobre Timify</h2>
                    <p>Historia y Misión</p>
                    <p>Contacto</p>
                    <p>Equipo Directivo</p>
                </div>
                <div class="footer-section">
                    <h2>Descargas</h2>
                    <p><a href="/">iOS & Android</a></p>
                    <p><a href="/">Mac & Windows</a></p>
                    <p><a href="/">Extensiones</a></p>
                </div>
                <div class="footer-section">
                    <h2>Legalidad</h2>
                    <p><a href="/">Política de Privacidad</a></p>
                    <p><a href="/">Términos de uso</a></p>
                    <p><a href="/">Política de Cookies</a></p>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2024 Zenit,Todos los derechos reservados.</p>
            </div>
</footer>
