
<div class="group-add-container">
    <button (click)="closeGroupAddPopup()" class="close-button">X</button>
    <h1>GRUPO</h1>
    <div class="group-add-content">
        <div class="group-add-name">
            <h4>Nombre: </h4>
            <input type="text" required #inputGroupName>
        </div>
        <div class="group-add-privacy">
            <h4>Privacidad:</h4>
            <select name="" id="">
                <option value="">Público</option>
                <option value="">Privado</option>
            </select>
        </div>
        <div class="group-add-description">
            <h4>Descripción:</h4>
            <textarea name="" id="" cols="30" rows="10" #inputGroupDescription></textarea>
        </div>
    </div>
    <div class="group-add-add">
        <button>Añadir</button>
    </div>
</div>