<div>
    <app-login *ngIf="loginService.isOpen$ | async"></app-login>
    <app-register *ngIf="registerService.isOpen$ | async"></app-register>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>
        
        <div  class="organizations-container">
            <div class="organizations-filters">
                <input type="text" name="" id="organization-search" placeholder="BUSCAR ORGANIZACIONES...">
                <button>Filtrar <i class="fa fa-filter"></i></button>
            </div>
            <div class="grid-organizations">
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
                <a href="/activities">
                    <div class="organization">
                        <div class="content-organization">
                            <h1>Organizacion</h1>
                            <h2>Descripcion</h2>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nullam non velit ut sapien fermentum fringilla. Sed pulvinar 
                                ex vel nisi laoreet, at venenatis nibh blandit. Vestibulum ac 
                                ligula in libero volutpat consequat. Nulla facilisi.
                            </p>
                            <p><strong>Miembros: </strong> XX</p>
                            <p><strong>Actividades: </strong> XX</p>
                        </div>
                        <div class="img-organization">
                            <img src="../../assets/img/icono_ULPGC.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>