<div>
  <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
  <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
  <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
    <app-header></app-header>

    <div class="organizations-container">
      <div class="organizations-filters">
        <input type="text" name="" id="organization-search" placeholder="BUSCAR ORGANIZACIONES..." #searchInput
               (input)="searchOrganizations(searchInput.value)">
        <button>Filtrar <i class="fa fa-filter"></i></button>
      </div>
      <div class="grid-organizations">
        <ng-container *ngFor="let organization of shownOrganizations">

            <div class="organization">
              <a [routerLink]="['/activities', organization._id]">
              <div class="content-organization">
                <h1>{{ organization.name }}</h1>
                <h2>Descripción</h2>
                <p>{{ organization.description }}</p>
                <p><strong>Miembros: </strong> {{ organization.members.length }}</p>
                <p><strong>Actividades: </strong> {{ organization.activities.length }}</p>
              </div>
              <div class="img-organization">
                <img [src]="organization.imageUrl" alt="">
              </div>
              </a>
            </div>

        </ng-container>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
