<div>
    <app-login *ngIf="loginService.isOpen$ | async"></app-login>
    <app-register *ngIf="registerService.isOpen$ | async"></app-register>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>
        <div class="schedules-content">
            <div class="schedules-selector">
                <h2>HORARIOS</h2>
                <select name="schedules" id="schedules">
                    <option value="1">Ingeniería Informática</option>
                </select>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>