.admin-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#active {
    font-weight: bolder;
    border-right: 4px solid var(--mainColor);
}

#noactive {
    font-weight: 400;
    border-right: none;
}

.admin-option {
    color: var(--mainColor);
    max-width: 70%;
    text-align: center;
    padding: 15px 20px;
    background-color: var(--mainColorLighter);
    justify-content: center;
}