<div class="admin-buttons-container">
    <div class="admin-option" id="active">
        <a href="/admin">Añadir Evento</a>
    </div>
    <div class="admin-option" id="noactive">
        <a href="">Crear organización</a>
    </div>
    <div class="admin-option" id="noactive">
        <a href="/adminOrganizations">Gestionar organizaciones</a>
    </div>
    <div class="admin-option" id="noactive">
        <a href="">Gestionar actividades</a>
    </div>
    <div class="admin-option" id="noactive">
        <a href="">Gestionar grupos</a>
    </div>
</div>