.admin-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.admin-option {
    color: var(--mainColor);
    text-align: center;
    width: 250px;
    padding: 25px 30px;
    background-color: var(--mainColorLightest);
    justify-content: center;
    font-size: x-large;
    transition: all 0.5s ease; /* Transición para todos los cambios */
    position: relative; /* Necesario para el efecto de superposición */
}
