<div>
    <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
    <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
    <app-manage-members-pop-up [organization]="selectedOrganization" *ngIf="manageMembersService.isOpen$ | async"></app-manage-members-pop-up>
    <app-manage-activities-pop-up [user]="user" [organization]="selectedOrganization" *ngIf="addActivitiesPopUP.isOpen$ | async"></app-manage-activities-pop-up>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>
        <div class="admin-container">
            <h1>PLATAFORMA DE ADMINISTRACIÓN</h1>
            <div class="admin-organizations-content-container">
                <div class="content">
                    <app-admin-buttons [active]="active"></app-admin-buttons>
                    <div class="admin-content">
                        <div class="header-admin-organizations-container">
                            <div class="filter">
                              <p><strong>ORGANIZACIONES</strong></p>
                              <select name="organizationSelect" id="organizationSelect" (change)="onOrganizationSelectChange($event)">
                                <option *ngFor="let organization of organizations"
                                        [value]="organization._id">{{ organization.name }}
                                </option>
                              </select>
                            </div>
                            <div class="filter-buttons">
                                <button>Gestionar Grupos</button>
                                <button (click)="addMembers()">Añadir Miembros</button>
                            </div>
                        </div>
                        <div class="event-description">
                            <div class="event-data">
                                <p>Nombre</p>
                                <div class="input-container">
                                    <input type="text" name="" id="noactive" #inputTitulo [value]="selectedOrganization?.name" readonly>
                                    <i class="fa fa-pencil" (click)="toggleEditMode(inputTitulo)"></i>
                                </div>
                                </div>
                            <div class="event-data">
                                <p>Descripción</p>
                                <div class="input-container">
                                    <input type="text" name="" id="noactive" #inputDescripcion [value]="selectedOrganization?.description" readonly>
                                    <i class="fa fa-pencil" (click)="toggleEditMode(inputDescripcion)"></i>
                                </div>
                            </div>
                            <div class="event-data">
                                <p>Correo electrónico</p>
                                <div class="input-container">
                                    <input type="email" name="" id="noactive"  #inputCorreo [value]="selectedOrganization?.email" readonly>
                                    <i class="fa fa-pencil" (click)="toggleEditMode(inputCorreo)"></i>
                                </div>
                            </div>
                            <div class="event-data">
                                <p>Dominio</p>
                                <div class="input-container">
                                    <input type="url" name="" id="noactive" #inputDominio [value]="selectedOrganization?.domain"  readonly>
                                    <i class="fa fa-pencil" (click)="toggleEditMode(inputDominio)"></i>
                                </div>
                            </div>
                            <div class="event-data">
                                <p>Contacto</p>
                                <div class="input-container">
                                    <input type="text" name="" id="noactive" #inputContacto [value]="selectedOrganization?.contact" readonly>
                                    <i class="fa fa-pencil" (click)="toggleEditMode(inputContacto)"></i>
                                </div>
                            </div>
                            <div class="event-data">
                                <p>Privacidad</p>
                                <div class="input-container">
                                    <select name="" id="noactive" #selectPrivacidad disabled>
                                        <option [selected]="selectedOrganization?.privacy === 'Público'" value="Público">Público</option>
                                        <option [selected]="selectedOrganization?.privacy === 'Privado'" value="Privado">Privado</option>
                                      </select>
                                      
                                    <i class="fa fa-pencil" (click)="toggleEditMode(selectPrivacidad)"></i>
                                </div>
                            </div>

            </div>
          </div>
        </div>
        <div class="buttons">
          <button (click)="addActivities()">Crear Actividad</button>
          <button (click)="putOrganization()">Guardar Cambios</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
