<div class="manage-members-container">
    <button (click)="closeManageMembersPopup()" class="close-button">X</button>
    <h1>MIEMBROS</h1>
    <div class="manage-members-content">
        <div class="input-manage-members">
            <input type="text" name="" id="" placeholder="Buscar Usuario">
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="members-data">
            <table>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Correo</th>
                    <th>Rol</th>
                  </tr>
                </thead>
                <tbody>
                    <!-- Aqui van los datos -->
                </tbody>
              </table>
        </div>
    </div>
    

</div>