.manage-members-container {
    background-color: var(--mainColor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    width: 600px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    z-index: 9999; 
}

h1 {
    color: var(--mainTextWhite);
    font-size: xxx-large;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

.manage-members-content {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    gap: 24px;
}

.input-manage-members {
    display: flex;
    gap: 16px;
    align-items: center;
}


i {
    cursor: pointer;
    color: var(--mainTextWhite);
    font-size: x-large;
}

input {
    width: 70%;
    text-align: start;
    padding: 10px 15px;
    background-color: #E8E6D9;
    text-overflow: ellipsis;
    color: 909090;
    align-self: center;
    outline: none;
}

.dropdown {
    width: 70%;
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 120px;
    overflow-y: auto;
    z-index: 100;
    padding: 5px 15px;
}

.dropdown li {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
    flex: 1;
    height: 50px;
    align-items: center;
}
.user-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.user-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.dropdown li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}


.dropdown::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color del scrollbar */
    border-radius: 4px; /* Borde redondeado del scrollbar */
}

.dropdown::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Cambiar color del scrollbar al pasar el cursor */
}


@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

table {
    border-collapse: collapse;
    color: var(--mainTextWhite);
    width: 100%;
  }

  table, th, td {
    border: none;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: transparent;
  }

  tr:nth-child(even) {
    background-color: transparent;
  }