.perfil-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}



.perfil-option {
    color: var(--mainColor);
    text-align: center;
    padding: 25px 30px;
    background-color: var(--mainColorLightest);
    justify-content: center;
    font-size: x-large;
}