<div>
    <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
    <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>
        <div class="perfil-container">
            <app-perfil-buttons [active]="active"></app-perfil-buttons>
            <div class="perfil-notifications-container">
                <div class="perfil-notifications-container" #perfilNotifications>
                    <div class="notification">
                        <p>Activar notificaciones</p>
                        <label class="switch">
                            <input type="checkbox" id="active-notifications" #activeNotifications [(ngModel)]="notificationsActive" (ngModelChange)="setCheckBoxState()">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <p><strong>Preferencias de notificación</strong></p>
                    <div class="notification">
                        <p>Notificaciones de Eventos</p>
                        <label class="switch">
                            <input type="checkbox" id="active-event" #activeEvents [disabled]="!notificationsActive">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="notification">
                        <p>Notificaciones de recordatorios</p>
                        <label class="switch">
                            <input type="checkbox"  id="active-reminders" #activeReminder [disabled]="!notificationsActive">
                            <span class="slider"></span>
                        </label>
                    </div>
                    <p><strong>Métodos de notificación</strong></p>
                    <div class="notification">
                        <p>Notificación por aplicación</p>
                        <label class="switch">
                            <input type="checkbox" id="active-app" #activeApp disabled>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="notification">
                        <p>Notificación por Email</p>
                        <label class="switch">
                            <input type="checkbox" id="active-email" #activeEmail disabled>
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <button (click)="onModifyUserClick()">Guardar Cambios</button>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
