.admin-container {
    display: flex;
    flex-direction: column;
    flex: 1
}

.admin-container h1 {
    color: var(--mainColor);
    font-size: xx-large;
    align-self: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.admin-add-event-content-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.admin-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 15px 20px;
}

.event-filter {
    display: flex;
    margin-top: 16px;
    position: relative;
}


.filter {
    text-align: center;
    margin-right: 5%;
}

.filter select {
    margin-top: 8px;
    width: 200px;
    height: fit-content;
}


.event-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 48px;
}

.event-data  {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 30%;
    align-items: center;
}

.event-data p {
    font-size: large;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: self-end;
    padding: 25px 20px;
}

button {
    color: white;
    background-color: var(--mainColor);
    cursor: pointer;
    padding: 15px 20px;
}

i {
    cursor: pointer;
}


.event-data  input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    border: 1px solid black;
}

.active:hover, .event-data:focus {
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
    outline: none;
}


table th {
    width: 10em;
}

.time-interval-input{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
}
table * {
    text-align: center; /* Centra todo dentro de la tabla */
  }
th, td {
    border: 1px solid black; /* Añade bordes a las celdas */
    padding: 8px; /* Añade espacio entre el contenido y el borde */
    text-align: left; /* Alinea el texto a la izquierda */
}

.event-data-horario {
    display: flex;
    flex-direction: column;
}

.add-row {
    margin-top: 16px;
    display: flex;
    position: relative;
}
.add-row i {
    position: absolute;
    right: 0;
    font-size: x-large;
}


.time-interval-input input   {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

.time-interval-input  {
    align-items: center;
    font-size: x-large;
}

select {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.checked {
    background-color: green;
  }
