.admin-container {
    display: flex;
    flex-direction: column;
    flex: 1
}

.admin-container h1 {
    color: var(--mainColor);
    font-size: xx-large;
    align-self: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.admin-add-event-content-container {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: flex-start;
}

.admin-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding: 15px 20px;
    min-height: 100vh;
}

.event-filter {
    display: flex;
    margin-top: 16px;
    position: relative;
}

.event-filter > *:nth-child(3) {
    position: absolute;
    right: 0;
}

.event-filter > *:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
}

.filter {
    text-align: center;
    margin-right: 5%;
}

.filter select {
    margin-top: 8px;
    width: 200px;
    height: 30px;
}

.event-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 48px;
}

.event-data  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%; 
    align-items: center;
}

.event-data p {
    font-size: large;
}
.event-data select {
    width: calc(100% - 20px -  55%);
}
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 70%;
}

.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
}

input, select {
    width: 50%;
    height: 40px;
}

button {
    color: white;
    background-color: var(--mainColor);
    width: 15%;
    cursor: pointer;
    padding: 15px 10px;
}

i {
    cursor: pointer;
}

