<div>
    <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
    <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>

        <div class="admin-container">
            <h1>PLATAFORMA DE ADMINISTRACIÓN</h1>
            <div class="admin-add-event-content-container">
                <div class="content">
                    <app-admin-buttons [active]="active"></app-admin-buttons>
                    <div class="admin-content">
                      <div class="event-filter">
                        <div class="filter">
                          <p><strong>ORGANIZACIONES</strong></p>
                          <select #selectOrgElement (change)="loadActivity(selectOrgElement)">
                            <option *ngFor="let organization of organizations" [value]="organization.name">
                              {{ organization.name }}
                            </option>
                          </select>
                        </div>
                        <div class="filter">
                          <p><strong>ACTIVIDADES</strong></p>
                          <select #selectActivityElement (change)="loadGroup(selectActivityElement)">
                            <option *ngFor="let activity of activities" [ngClass]="activity.name">
                              {{ activity.name }}
                            </option>
                          </select>
                        </div>
                        <div class="filter">
                          <p><strong>GRUPOS</strong></p>
                          <select #selectGroupElement (change)="loadGroupInfo(selectGroupElement)">
                            <option *ngFor="let group of groups" [ngClass]="group.name">
                              {{ group.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                        <div class="event-description">
                            <div class="event-data">
                                <p>Grupos Añadidos</p>
                                <input type="text" name="added-groups" id="added-groups"   disabled>
                            </div>
                            <div class="event-data">
                                <p>Titulo</p>
                                <input type="text" name="event-title"   placeholder="ej.: Examen Asignatura">
                            </div>
                            <div class="event-data">
                                <p>Descripción</p>
                                <input type="text" name="event-description"   placeholder="ej.: ...">
                            </div>
                            <div class="event-data">
                                <p>Inicio</p>
                                <input type="datetime-local" name="event-start-date" >
                            </div>
                            <div class="event-data">
                                <p>Final</p>
                                <input type="datetime-local" name="event-end-date" >
                            </div>
                            <div class="event-data">
                                <p>Ubicación</p>
                                <input type="text" name="event-location"   placeholder="ej.: Facultad de Ingeniería. Lab2-2">
                            </div>
                            <div class="event-data">
                                <p>Notas</p>
                                <input type="text" name="event-notes"   placeholder="ej.: Traer bolígrafo">
                            </div>
                            <div class="event-data">
                                <p>Adjuntar fichero</p>
                                <div class="input-container">
                                    <input type="text" [(ngModel)]="fileName" placeholder="ej.: Adjuntar archivo" readonly>
                                    <input type="file" (change)="onFileSelected($event)" class="file-input" multiple>
                                    <label for="file-input" class="file-icon">
                                        <i class="fa fa-paperclip"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="event-data">
                                <p>Repetir</p>
                                <select name="event-repeat" id="">
                                    <option value="none">Ninguna</option>
                                    <option value="daily">Diario</option>
                                    <option value="weekly">Semanal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button (click) = onAddGroupClick()>Añadir Grupo</button>
                    <button (click)="onSendClick()">Enviar</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <script>
        // Obtener elementos del DOM
        const fileInput = document.getElementById('file-input');
        const fileNameInput = document.getElementById('file-name');

        // Agregar evento change al control de entrada de archivos
        fileInput.addEventListener('change', function() {
            const files = fileInput.files; // Obtener los archivos seleccionados
            if (files.length > 0) {
                // Mostrar el nombre del primer archivo seleccionado en el input de texto
                fileNameInput.value = files[0].name;
            } else {
                // Si no se selecciona ningún archivo, mostrar el placeholder
                fileNameInput.placeholder = "ej.: Adjuntar archivo";
            }
        });
    </script>
</div>
