<div class="add-reminder-container">
    <button (click)="closeAddReminderPopup()" class="close-button">X</button>
    <div class="input-title-container">
        <input type="text" placeholder="Sin título">
    </div>
    <div class="data-reminder-container">
        <div class="input-reminder">
            <p>Fecha Inicio:</p>
            <input type="date">
        </div>
        <div class="input-reminder">
            <p>Fecha Límite:</p>
            <input type="date">
        </div>
        <div class="input-reminder">
            <p>Repetir:</p>
            <select name="" id="">
                <option value="todos_los_dias" selected>Todos los días</option>
            </select>
        </div>
    </div>
    <div class="description-reminder-container">
        <textarea placeholder="Descripción..."></textarea>
    </div>
</div>