<div>
    <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
    <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
    <app-manage-members-pop-up *ngIf="manageMembersService.isOpen$ | async"></app-manage-members-pop-up>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>

        <div class="admin-container">
            <h1>PLATAFORMA DE ADMINISTRACIÓN</h1>
            <div class="admin-organizations-content-container">
                <div class="content">
                    <app-admin-buttons [active]="active"></app-admin-buttons>
                    <div class="admin-content">
                        <div class="header-admin-create-organizations-container">
                            <button (click)="manageMembers()">Gestionar miembros</button>
                        </div>
                        <div class="event-description">
                            <div class="event-data">
                                <p>Titulo</p>
                                <input type="text" name=""  placeholder="ej.: Producción de Software">
                            </div>
                            <div class="event-data">
                                <p>Descripción</p>
                                <input type="text" name=""   placeholder="ej.: ...">
                            </div>
                            <div class="event-data">
                                <p>Correo electrónico</p>
                                <input type="email" name=""   placeholder="ej.:pepito@gmail.com">
                            </div>
                            <div class="event-data">
                                <p>Dominio</p>
                                <input type="url" name=""   placeholder="ej.:timify.es">
                            </div>
                            <div class="event-data">
                                <p>Contacto</p>
                                <input type="text" name=""   placeholder="ej.: +XX XXXXXXXXX">

                            </div>
                            <div class="event-data">
                                <p>Privacidad</p>
                                <select name="" id=""></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button>Crear Organización</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
