<div>
    <app-login *ngIf="authService.isLoginOpen$()  | async"></app-login>
    <app-register *ngIf="authService.isRegisterOpen$()  | async"></app-register>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>

        <div class="admin-container">
            <h1>PLATAFORMA DE ADMINISTRACIÓN</h1>
            <div class="admin-organizations-content-container">
                <div class="content">
                    <app-admin-buttons [active]="active"></app-admin-buttons>
                    <div class="admin-content">
                        <div class="event-description">
                            <div class="event-data">
                                <p>Nombre</p>
                                <input type="text" name="" id="input-name" #inputName placeholder="ej.: ULPGC">
                            </div>
                            <div class="event-data">
                                <p>Descripción</p>
                                <input type="text" name="" id="input-description" #inputDescription placeholder="ej.: ...">
                            </div>
                            <div class="event-data">
                                <p>Correo electrónico</p>
                                <input type="email" name="" id="input-email" #inputEmail placeholder="ej.:pepito@gmail.com">
                            </div>
                            <div class="event-data">
                                <p>Dominio</p>
                                <input type="url" name="" id="input-domain'" #inputDomain placeholder="ej.:timify.es">
                            </div>
                            <div class="event-data">
                                <p>Contacto</p>
                                <input type="text" name="" id="input-contact" #inputContact placeholder="ej.: +XXXXXXXXXXX">

                            </div>
                            <div class="event-data">
                                <p>Privacidad</p>
                                <select name="" id="select-privacy" #selectPrivacy>
                                    <option value="Público">Público</option>
                                    <option value="Privado">Privado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button (click)="createOrganization()">Crear Organización</button>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
