<div class="calendario">
    <div class="navegacion">
        <div class="flecha" (click)="cambiarMes(-1)"><i class="fas fa-arrow-left"></i></div>
        <span>{{ mesActualNombre }} {{ anoActual }}</span>
        <div class="flecha" (click)="cambiarMes(1)"><i class="fas fa-arrow-right"></i></div>
        <div class="selector-vista">
            <button [class.active]="vistaActual === 'mes'" (click)="cambiarVista('mes')">Vista Mensual</button>
            <button [class.active]="vistaActual === 'semana'" (click)="cambiarVista('semana')">Vista Semanal</button>
            <button [class.active]="vistaActual === 'dia'" (click)="cambiarVista('dia')">Vista Diaria</button>
        </div>
    </div>
    <div class="mes">

        <div *ngIf="vistaActual === 'mes'" class="dias-semana">
            <div *ngFor="let diaSemana of diasSemana">{{ diaSemana }}</div>
        </div>

        <div *ngIf="vistaActual === 'dia'" class="vista-dia">
          <div class="titulo-dia">{{ fechaActual.getDay() === 0 ? 'Domingo  ' : diasSemana[fechaActual.getDay() - 1] }}, {{ fechaActual.getDate() }} de {{ nombresMeses[fechaActual.getMonth()] }}</div>
          <div class="horas-dia">
            <div *ngFor="let hora of horas" class="hora-dia">
              <div class="hora-container">
                <span>{{ hora }}</span>
                <button class="dia-button" (click)="addReminderFunction({hora: hora, type: 'dia'})"><i class="fas fa-plus"></i></button>
              </div>
              <ng-container *ngFor="let evento of eventos">
                <div class="evento" [style.background-color]="evento.color" *ngIf="seMuestraEvento(evento, hora, 'dia', fechaActual.getDate())" (click)="showDetailsFunction(evento)">
                  <a (click)="showDetailsFunction(evento)">{{ evento.titulo }}</a>
                  <div *ngIf="evento.tipo === 'recordatorio'" class="evento-buttons">
                    <button (click)="eliminarEvento(evento)"><i class="fas fa-trash"></i></button>
                    <button (click)="editReminderFunction(evento)"><i class="fas fa-pencil-alt"></i></button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
          

        <div *ngIf="vistaActual === 'semana'" class="vista-semana">
          <div class="fila fila-dias-semana">
            <div class="celda hora"></div>
            <div *ngFor="let diaSemana of diasSemana" class="celda dia-semana">{{ diaSemana }}</div>
          </div>
          <div *ngFor="let hora of horas" class="fila">
            <div class="celda hora">{{ hora }}</div>
            <ng-container *ngFor="let dia of diasSemana; let i = index">
              <div class="contenido">
                <button class="dia-button" (click)="addReminderFunction({dia: i, hora: hora, type: 'semana'})"><i class="fas fa-plus"></i></button>
                <ng-container *ngFor="let evento of eventos">
                  <div class="evento" [style.background-color]="evento.color" *ngIf="seMuestraEvento(evento, hora, 'semana', diaDelMesEnSemanaActual(i))"> 
                    <a (click)="showDetailsFunction(evento)">{{ evento.titulo }}</a>
                    <div *ngIf="evento.tipo === 'recordatorio'" class="evento-buttons">
                      <button (click)="eliminarEvento(evento)"><i class="fas fa-trash"></i></button>
                      <button (click)="editReminderFunction(evento)"><i class="fas fa-pencil-alt"></i></button>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
          
          
          
          
        <div *ngIf="vistaActual === 'mes'" class="dias">
          <div *ngFor="let dia of diasMes" [ngClass]="dia.type" class="dia">
            <div class="dia-container">
              <span>{{ dia.value }}</span>
              <button class="dia-button" (click)="addReminderFunction({dia: dia.value, mes: mesActual, ano: anoActual, type: 'mes'})"><i [ngClass]="dia.type" class="fas fa-plus"></i></button>
            </div>
            <ng-container *ngFor="let evento of eventos">
              <div class="evento" [style.background-color]="evento.color" *ngIf="seMuestraEvento(evento, dia, 'mes')">
                <a (click)="showDetailsFunction(evento)">{{ evento.titulo }}</a>
                <div *ngIf="evento.tipo === 'recordatorio'" class="evento-buttons">
                  <button (click)="eliminarEvento(evento)"><i class="fas fa-trash"></i></button>
                  <button (click)="editReminderFunction(evento)"><i class="fas fa-pencil-alt"></i></button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
          
          

    </div>
</div>

