<div>
    <app-login *ngIf="loginService.isOpen$ | async"></app-login>
    <app-register *ngIf="registerService.isOpen$ | async"></app-register>
    <div id="wrapper-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <app-header></app-header>
        <div class="home-content">
            <h1>ORGANIZA TUS EVENTOS, <br>GESTIONA TU TIEMPO</h1>
            <h3>
                ¡Organiza tu día con facilidad! Nuestro Generador de Horarios es la solución perfecta 
                para empresas, organizaciones y estudiantes. Crea horarios personalizados en minutos y
                maximiza tu productividad. ¡Prueba ahora!
            </h3>
            <div class="home-cards-grid">
                <div class="card long">
                  <div class="card-header">GESTIONA TUS EVENTOS FÁCILMENTE</div>
                  <div class="card-body">
                    Descubre la libertad de organizar tu vida personal,
                    académica y profesional con un solo clic.
                    Nuestro avanzado calendario digital te permite planificar,
                    ajustar y recordar cada evento importante sin esfuerzo.
                    Olvídate del estrés de las agendas sobrecargadas y los
                    conflictos de programación. Con nuestra solución tecnológica
                    intuitiva y fácil de usar, estar al día es más simple que nunca.
                    Haz que cada día cuente y maximiza tu tiempo con eficiencia y
                    estilo.
                  </div>
                  <img src="/../assets/img/gestion.jpg" alt="card-photo" class="card-photo">
                </div>
                
                <div class="card short">
                  <div class="card-header">QUÉ OFRECEMOS</div>
                  <div class="card-body">
                    No solo planificas; sincronizas tu vida.
                    Grupos, alertas personalizadas y más, todo pensado para
                    que nunca pierdas el ritmo.
                  </div>
                </div>

                <div class="card long">
                    <div class="card-header">HORARIOS</div>
                    <div class="card-body">
                      Domina tu día a día con una planificación perfecta.
                      Nuestra herramienta de horarios avanzada te guía a
                      través de cada semana con claridad y precisión,
                      permitiéndote asignar, visualizar y ajustar tus actividades
                      con la facilidad de unos pocos clics. Ya sea para
                      compromisos personales, citas académicas o reuniones
                      profesionales, optimiza tu tiempo y asegura que cada
                      momento cuenta. Con nuestra plataforma, la gestión
                      eficiente de tu tiempo deja de ser un deseo para
                      convertirse en tu nueva realidad.
                      <img src="/../assets/img/horario-foto.jpg" alt="horario-photo" class="horario-photo">
                    </div>
                  </div>
              
                <div class="card short">
                  <div class="card-header">PENSAMOS EN TI</div>
                  <div class="card-body">
                    Innovamos constantemente para que manejes tu tiempo tan
                    dinámicamente como cambia el mundo a tu alrededor.
                    Tu solución adaptable a la era digital.
                  </div>
                </div>
            </div>
            <h2>SOMOS TIMIFY, ÚNETE A ESTA GRAN COMUNIDAD</h2>
            <div class="home-stats">
                <div class="stat">
                    <div class="stat-number">50+</div>
                    <div class="stat-text">Miembros ya gestionan su horario con TIMIFY</div>
                </div>
                <div class="stat">
                    <div class="stat-number">10+</div>
                    <div class="stat-text">Organizaciones confían en la eficiencia de TIMIFY</div>
                </div>
                <div class="stat">
                    <div class="stat-number">9.2/10</div>
                    <div class="stat-text">Nuestros usuarios valoran gratamente la gestión y eficiencia</div>
                </div>
            </div>
            <div class="home-novedades">
              <div class="novedad-info first">
                <h2>NUEVO DISEÑO</h2>
                <p>TODOS TUS EVENTOS A LA MANO</p>
              </div>
              <div class="novedad-info second">
                <h2>NUESTRO ESLOGAN</h2>
                <p>Conecta, sincroniza, simplifica: ¡Tu tiempo, maximizado con Timify!</p>
              </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>